<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="mailto:rahuldolai004@gmail.com">
                <i class="fa-solid fa-square-envelope"></i>
            </a>
            <a href="https://www.linkedin.com/in/rahul-dolai-7105962b6/">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            <a href="https://github.com/rahuldolai28">
                <i class="fa-brands fa-square-github"></i>
            </a>
            <a href="https://www.instagram.com/rahul_k_3010/">
                <i class="fa-brands fa-square-instagram"></i>
            </a>
        </div>
        <div class="f-info-brand">
            &copy; WanderStay Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>