<% layout('layouts/boilerplate.ejs') %>
<div class="row">
  <div class="col-8 offset-2 edit-div">
    <h3>Create a new listing</h3>    
    <form
      action="/listings"
      method="post"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data">
      <div class="mb-3">
        <label for="title" class="form-label">Title:</label>
        <input
          type="text"
          name="listing[title]"
          class="form-control"
          id="title"
          placeholder="Add a catchy title"
          required />
        <div class="valid-feedback">Title looks good!</div>
        <div class="invalid-feedback">Title should be valid!</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description:</label>
        <textarea
          name="listing[description]"
          cols="30"
          rows="1"
          id="description"
          class="form-control"
          placeholder="Enter description here..."
          required></textarea>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Upload Image:</label>
        <input
          type="file"
          name="listing[image]"
          class="form-control"
          id="image"
          required />
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price:</label>
          <input
            type="number"
            name="listing[price]"
            id="price"
            class="form-control"
            placeholder="Enter price"
            required />
          <div class="invalid-feedback">Price should be number!</div>
        </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country:</label>
          <input
            type="text"
            name="listing[country]"
            id="country"
            class="form-control"
            placeholder="Enter country"
            required />
        </div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location:</label>
        <input
          type="text"
          name="listing[location]"
          class="form-control"
          id="location"
          placeholder="Enter location"
          required />
      </div>
      <br />
      <div class="center-container">
        <button type="submit" class="add-btn">Add</button>
      </div>
      <br />
    </form>
  </div>
</div>
