<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
        rel="stylesheet" />

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/sign.css" />
    <title>WanderStay Login</title>
</head>

<body>
    <%- include("../includes/navbar.ejs") %>
        <%- include("../includes/flash.ejs") %>
            <div class="userPage ">
                <div class="container">
                    <div class="form-box login">
                        <form action="/login" method="post" class="needs-validation" novalidate>
                            <h1>Login</h1>
                            <div class="input-box">
                                <input type="text" class="form-control" name="username" id="username"
                                    placeholder="username" required />
                                <div class="valid-feedback">Username looks good!</div>
                                <div class="invalid-feedback">Username should be valid!</div>
                                <i class="bx bxs-user"></i>
                            </div>
                            <div class="input-box">
                                <input type="password" class="form-control" name="password" id="password"
                                    placeholder="Password" required />
                                <div class="invalid-feedback">Password should be valid!</div>
                                <i class="bx bxs-lock-alt"></i>
                            </div>
                            <div class="forgot-link">
                                <a href="/unavailable"><u>Forgot Password?</u></a>
                            </div>
                            <button type="submit" class="btn">Login</button>
                            <p>or login with social platforms</p>
                            <div class="social-icons">
                                <a href="/unavailable"><i class="bx bxl-google"></i></a>
                                <a href="/unavailable"><i class="bx bxl-facebook"></i></a>
                                <a href="/unavailable"><i class="bx bxl-github"></i></a>
                                <a href="/unavailable"><i class="bx bxl-linkedin"></i></a>
                            </div>
                        </form>
                    </div>

                    <div class="form-box register">
                        <form action="/signup" method="post" class="needs-validation register-form">
                            <h1>Registration</h1>
                            <div class="input-box">
                                <input type="text" class="form-control" name="username" id="username"
                                    placeholder="Username" required />
                                <div class="valid-feedback">Username looks good!</div>
                                <div class="invalid-feedback">Name should be valid!</div>
                                <i class="bx bxs-user"></i>
                            </div>
                            <div class="input-box">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Email"
                                    required />
                                <div class="invalid-feedback">Email should be valid!</div>
                                <i class="bx bxs-envelope"></i>
                            </div>
                            <div class="input-box">
                                <input
                                type="password"
                                class="form-control"
                                name="password"
                                id="password"
                                placeholder="Password"
                                required />
                                <div class="invalid-feedback">Password should be valid!</div>
                                <i class="bx bxs-lock-alt"></i>
                            </div>

                            <button type="submit" class="btn">Sign up</button>
                            <p>or register with social platforms</p>
                            <div class="social-icons">
                                <a href="/unavailable"><i class="bx bxl-google"></i></a>
                                <a href="/unavailable"><i class="bx bxl-facebook"></i></a>
                                <a href="/unavailable"><i class="bx bxl-github"></i></a>
                                <a href="/unavailable"><i class="bx bxl-linkedin"></i></a>
                            </div>
                        </form>
                    </div>

                    <div class="toggle-box">
                        <div class="toggle-panel toggle-left">
                            <h1>Hello, Welcome!</h1>
                            <p>Don't have an account?</p>
                            <button class="btn register-btn">Register</button>
                        </div>
                        <div class="toggle-panel toggle-right">
                            <h1>Welcome back!</h1>
                            <p>Already have an account?</p>
                            <button class="btn login-btn">Login</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed-bottom">
                <%- include("../includes/footer.ejs") %>
            </div>


            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" bbas
                crossorigin="anonymous"></script>
            <script src="/js/script.js"> </script>
            <script>
                const container = document.querySelector('.container');
                const loginBtn = document.querySelector('.login-btn');
                const registerBtn = document.querySelector('.register-btn');

                registerBtn.addEventListener('click', () => {
                    container.classList.add('active');
                });
                loginBtn.addEventListener('click', () => {
                    container.classList.remove('active');
                });
            </script>
</body>


</html>